extends ../layouts/layout

block content
  h1= beer.name

  ul
    li 
      strong
        | Name: 
      | #{beer.name}
    li
      strong
        | Description: 
      | #{beer.description}
    li 
      strong
        | Alcohol: 
      | #{beer.alcohol}
    li 
      strong
        | Style: 
      | #{beer.style}
    li 
      strong
        | Brewery: 
      | #{beer.brewery}
    li 
      strong
        | Category: 
      | #{beer.category}
    li 
      strong
        | Country: 
      | #{beer.country}

  ul.links
    li
      a(href="/beers/#{beer.id}/edit/") Editar
    li
      a(href="/beers/#{beer.id}/delete") Deletar

  a(href="/beers") Voltar
